<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>

    {% block js_head %}
    {% endblock %}
</head>
<body>
    {% block body %}
    {% endblock %}

    {% block js_footer %}
    {% endblock %}
</body>
</html>