{% extends 'base/base.html' %}

{% block title %}Welcome{% endblock %}

{% block js_head %}
{% load static %}
<script src="{% static 'vue/dist/vue.js' %}"></script>
<script src="{% static 'vue-resource/dist/vue-resource.js' %}"></script>
{% endblock %}


{% block body %}
<div id="app">
  <ol>
    <!--
      Now we provide each todo-item with the todo object
      it's representing, so that its content can be dynamic.
      We also need to provide each component with a "key",
      which will be explained later.
    -->
    <todo-item
    v-for="item in groceryList"
    v-bind:todo="item"
    v-bind:key="item.id"></todo-item>
  </ol>
  <div>
    <div class="field">
      <div class="ui large input">
        <input placeholder="Text..." type="text" v-cloak v-model="newItem.title" style="border: none; border-style: none;">
      </div>
    </div>
    <br>
    [[ newItem ]]
    <button v-on:click="createItem()" >Save</button>
  </div>
</div>
{% endblock %}

{% block js_footer %}
{% include 'base/token.html' %}
<script src="{% static 'js/app.js' %}"></script>
{% endblock %}